.container {
    display: grid;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /* This can't be used as another alternative for creating grids. */
    /* grid-template-columns: repeat(16, 1fr); */
    /* grid-template-rows: repeat(16, 1fr); */
    width: 960px;
    height: 960px;
    border: 2px solid #000;
}

.grid-item {
    box-sizing: border-box;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}